.navBar {
    display: inline;
    margin: 50px;
    align-items: center;
    font-size: 25px;
    color: black;
}

#head {
    background-color: darkslategray;
    height: 150px;
    border: 1px, single, black;
}