.editting{
    background: none;
    border: 1, solid, black;
    border-style: solid;
    border-radius: 10px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    width: 90%;
    padding: 10px;
}

.editting option {
    background-color: rgba(0, 0, 0, 0.8);
}

.cancel {
    position: absolute;
    right: 120px;
    bottom: 17px;
    color: rgb(156, 56, 59);
}

.save {
    position: absolute;
    right: 30px;
    background-color: rgb(156, 56, 59);
    line-height: 30px;
    width: 60px;
    text-align: center;
    border-radius: 20px;
    bottom: 10px;
}