.logo {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 25px;
    top: 15px;
    border-radius: 10px;
}

body{
    margin: 0;
    padding: 0;
}

.content {
    position: absolute;
    bottom: 100px;
    top: 100px;
}

.container {
    height: 100%;
    position: relative;
    padding: 0;
}

#head {
    position: fixed;
    width: 100%;
    height: 120px;
    left: 0px;
    top: 0px;
    z-index: 1;
    background: linear-gradient(170deg, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 0) 30%),
                linear-gradient(190deg, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 0) 30%),
                linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    border: 0px, single, black;
    z-index: 100;
}

.home {
    position: absolute;
    width: 80px;
    height: 90px;
    left: 140px;
    top: 10px;
    text-align: center;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    line-height: 84px;
    text-decoration-line: none;
}
.home:hover {
    opacity: 0.4;
}
.home_active {
    position: absolute;
    width: 80px;
    height: 90px;
    left: 140px;
    top: 10px;
    text-align: center;
    font-style: normal;
    font-size: 18px;
    font-weight: 800;
    color: rgb(156, 56, 59);
    line-height: 84px;
    text-decoration-line: none;
}

.dvd_list {
    position: absolute;
    width: 80px;
    height: 90px;
    left: 220px;
    top: 10px;
    text-align: center;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    line-height: 84px;
    text-decoration-line: none;
}
.dvd_list:hover {
    opacity: 0.4;
}
.dvd_list_active {
    position: absolute;
    width: 80px;
    height: 90px;
    left: 220px;
    top: 10px;
    text-align: center;
    font-style: normal;
    font-size: 18px;
    font-weight: 800;
    color: rgb(156, 56, 59);
    line-height: 84px;
    text-decoration-line: none;
}

.blu_ray_list {
    position: absolute;
    width: 80px;
    height: 90px;
    left: 300px;
    top: 10px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    line-height: 84px;
    text-decoration-line: none;
}
.blu_ray_list:hover {
    opacity: 0.4;
}
.blu_ray_list_active {
    position: absolute;
    width: 80px;
    height: 90px;
    left: 300px;
    top: 10px;
    text-align: center;
    font-style: normal;
    font-weight: 800;
    color: rgb(156, 56, 59);
    font-size: 18px;
    line-height: 84px;
    text-decoration-line: none;
}

.cd_list {
    position: absolute;
    width: 80px;
    height: 90px;
    left: 380px;
    top: 10px;
    text-align: center;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    line-height: 84px;
    text-decoration-line: none;
}
.cd_list:hover {
    opacity: 0.4;
}
.cd_list_active {
    position: absolute;
    width: 80px;
    height: 90px;
    left: 380px;
    top: 10px;
    text-align: center;
    font-style: normal;
    font-size: 18px;
    font-weight: 800;
    color: rgb(156, 56, 59);
    line-height: 84px;
    text-decoration-line: none;
}

.about {
    position: absolute;
    width: 100px;
    height: 90px;
    left: 460px;
    top: 10px;
    text-align: center;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    line-height: 84px;
    text-decoration-line: none;
}
.about:hover {
    opacity: 0.4;
}
.about_active {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 460px;
    top: 10px;
    text-align: center;
    font-style: normal;
    font-size: 18px;
    font-weight: 800;
    color: rgb(156, 56, 59);
    line-height: 84px;
    text-decoration-line: none;
}

.search_bar {
    position: absolute;
    width: 300px;
    height: 40px;
    left: 900px;
    top: 32px;
    background-color: white;
    border-radius: 20px;
    opacity: 0.4;
}

.search_text {
    position: absolute;
    width: 230px;
    height: 40px;
    left: 25px;
    top: 0;
    border: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 39px;
}

.search_icon {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 15px;
    top: 5px;
    border: 0;
}

.login {
    position: absolute;
    width: 90px;
    height: 40px;
    top: 40px;
    right: 50px;
}
.login #pic {
    height: 30px;
    border-radius: 100px;
}
.User {
    position: absolute;
    left: 40px;
    top: 2px;
    text-align: right;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    line-height: 30px;
    text-decoration-line: none;
}

.foot {
    position: absolute;
    width: 100%;
    height: 80px;
    text-align: center;
    left: 0px;
    bottom: 0px;
    background-color: rgb(30, 30, 30);
    border: 0px, single, black;
    align-items: center;
    color: rgba(255, 255, 255, 0.7);
    font-size: small;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.active {
    color: rgb(156, 56, 59);
}