.dvd_wrapper {
    position: absolute;
    top: 150px;
    left: 100px;
    right: 100px;
    height: 1300px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 30px;
}

body {
    background: black;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
    height: 2200px;
}

#head {
    position: fixed;
    width: 100%;
    height: 120px;
    left: 0px;
    top: 0px;
    z-index: 1;
    background: linear-gradient(180deg, rgb(10, 10, 10) 0%, rgba(0, 0, 0, 0) 100%);
    border: 0px, single, black;
    z-index: 100;
}

.content {
    position: absolute;
    bottom: 100px;
    top: 100px;
}

.container {
    height: 100%;
    position: relative;
    padding: 0;
}

.contents {
    position: absolute;
    top: 150px;
    left: 150px;
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 1px black;
}

table {
    position: absolute;
    top: 250px;
    left: 150px;
}

td {
    width: 250px;
}

.content_type {
    position: absolute;
    color: white;
    z-index: 0;
    font-size: medium;
    top: -5px;
    right: 60px;
    background-color: #9B383B;
    width: 55px;
    text-align: center;
    border-radius: 5px;
    text-shadow: 2px 2px 1px black;
}

.content_img {
    position: relative;
    top: 0;
    height: 300px;
    width: 200px;
    border-radius: 5px;
    z-index: 1;
}

.content_img:hover {
    filter: blur(8px);
    z-index: 0;
    height: 320px;
    width: 220px;
    left: -10px;
    top: -10px;
}

.content_title {
    position: absolute;
    top: 180px;
    left: 20px;
    color: white;
    text-shadow: 1px 2px 2px black;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 24px;
}
.content_year {
    position: absolute;
    top: 230px;
    left: 20px;
    color: white;
    text-shadow: 1px 2px 2px black;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

.content_duration {
    position: absolute;
    top: 230px;
    left: 80px;
    color: white;
    text-shadow: 1px 2px 2px black;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

.content_genre {
    position: absolute;
    top: 230px;
    left: 145px;
    color: white;
    text-shadow: 1px 2px 2px black;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

.content_IMDB {
    position: absolute;
    top: 250px;
    left: 25px;
    color: white;
    text-shadow: 1px 2px 2px black;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

.content_cost {
    position: absolute;
    top: 250px;
    left: 160px;
    color: white;
    text-shadow: 1px 2px 2px black;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 15px;
}
.cl td div{
    position: relative;
    height: 350px;
}

table tr td p {
    color: white;
    font-size: 24px;
    font-weight: 500;
}

table tr td a {
    color: white;
    font-size: 20px;
}

.td {
    text-align: end;
    padding-right: 50px;
}

#Blu-Ray_wrapper {
    position: absolute;
    top: 150px;
    left: 100px;
    right: 100px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 30px;
}

#DVD_wrapper {
    position: absolute;
    top: 150px;
    left: 100px;
    right: 100px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 30px;
}

#CD_wrapper {
    position: absolute;
    top: 150px;
    left: 100px;
    right: 100px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 30px;
}